html, body {
    height: 100%;
    width: 100%;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 15px;
}

a {
    text-decoration: none;
}

.header {
    text-align: center;
    margin: auto;
    border-bottom: 2px solid black;
}

.card {
    background-color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
}